# Server specific ignores
# Add any server-specific files or directories here, if necessary.
# Most general Node ignores are in the root .gitignore

# Example: Temporary files or specific logs
# *.tmp
# /server-logs/
node_modules